@import "components/header.css";
@import "components/footer.css";
@import "components/reset.css";
@import "components/root.css";
@import "media/services.css";
@import "media/services2.css";
@import "components/common.css";
.header-container {
  height: 370px;
}
header {
  height: 350px;
}
.services-info-pic {
  display: flex;
}
.main {
  padding: 10px 30px;
  background: beige;
}
.services-info h5 {
  color: var(--brown);
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 15px;
}
.services-info p {
  color: var(--lightgreen);
  font-weight: 400;
  line-height: 24px;
}
.services-info {
  margin-right: 10px;
}