@import "components/header.css";
@import "components/footer.css";
@import "components/reset.css";
@import "components/root.css";
@import "components/common.css";
@import "media/team.css";
.member-block,.member-info {
  display: flex;
}
.member-blocks {
  display: grid;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.header-container {
  height: 370px;
}
header {
  height: 350px;
}
.main {
  padding: 10px 30px;
  background: beige;
}
.member-block {
  width: 400px;
  justify-content: space-between;
  background: var(--darkgreen);
  border-radius: 25px;
  margin-bottom: 10px;
}
.member-block:not(:last-child) {
  margin-right: 25px;
}
.member-block img {
  align-self: center;
}
.member-info {
  flex-direction: column;
  padding: 50px 20px;
}
.member-info > h2,.member-info > p {
  color: var(--beige);
}
.member-info h2 {
  margin-bottom: 15px;
}
.member-info {
  height: 200px;
  padding: 50px 0px 0px 20px;
}
