@import "components/header.css";
@import "components/footer.css";
@import "components/reset.css";
@import "components/root.css";
@import "media/products.css";
@import "components/common.css";
.product-blocks,.product-name {
  display: flex;
}
.header-container {
  height: 370px;
}
header {
  height: 350px;
}
.main {
  padding: 10px 30px;
  background: beige;
}
.product-blocks {
  flex-wrap: wrap;
}
.product-block {
  width: 400px;
  border: 2px solid var(--brown);
  padding: 10px 15px;
  margin: 0 0 10px 10px;
  border-radius: 25px;
}
.product-block img {
  display: block;
  margin: 0 auto;
}
.product-name {
  justify-content: center;
  color: var(--darkgreen);
}