.page-nav,.page-nav-mobile {
  margin-bottom: 50px;
}
.page-nav *,.page-nav-mobile * {
  margin-right: 15px;
  color: var(--darkgreen)
}
@media only screen and (max-width: 480px) {
  .page-nav-mobile {
    display: block;
  }
  .page-nav {
    display: none;
  }
  .load-more {
    display: flex;
    font-size: 24px;
    justify-content: center;
    color: var(--lightgreen);
    text-decoration: underline;
  }
}
@media only screen and (min-width: 480px) {
  .page-nav-mobile {
    display: none !important;
  }
  .load-more {
    display: none;
  }
}